/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}


/*#itCiclo, #itMat{
  
  border: 1px solid #2196f3;
  color: white;
  margin-bottom: 6px;
  background: #2196f3;
}*/

.item-inner {
    background-image: none !important;
}

.page-content {
    padding-top: 0 !important;
    background-color: white;
}

.popover {
  width: 200px;
}

li i {
  color: initial;
}

/*#mat{
  border-style: solid;
  border-color: #A4A4A4;
  
  border-width: 0px 0px 1px 0px;
  color: black;
  
  background: white;
}*/


#folder{
  background: #E6E6E6;
  border-style: solid;
  border-color: #A4A4A4;
  
  border-width: 0px 0px 1px 0px;
}


#nombMateria{
  font-size: 80%;
}



.list-block.inset{
  margin-left: 0;
  margin-right: 0;
}

.view-menu .list-block .item-inner:after{
  height: 0;
}

/* label underline focus color */
.modal-text-input[type=text]:focus {
     border-bottom: 1px solid #2196f3;
     box-shadow: 0 1px 0 0 #2196f3;
}


.modal-text-input[type=date]:focus {
     border-bottom: 1px solid #2196f3;
     box-shadow: 0 1px 0 0 #2196f3;
}


 .list-block .item-text-feed {
  font-size: 15px;
  color: #4D4D4D;
  margin-top: 10px;
  line-height: 21px;
  position: relative;
  overflow: hidden;
  height: 25px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

#rec .item-title {
  font-size: 16px;
  color: #4D4D4D;
  font-weight: bold;
}

#act .item-title {
  font-size: 15px;
  color: #4D4D4D;
  font-weight: bold;
}

#act .item-text-feed {
  font-size: 15px;
  color: #4D4D4D;
  height: 30px;

}



/*new note*/


textarea{
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  font-size: 20px;
  color: black;
}





#EditBar{
	background: #E6E6E6;
	border: 1px solid #E6E6E6;
}

#EditBar .material-icons{
	color: #6E6E6E;
}

#linksL .item-text-feed{
  font-size: 12px;
  
}
#linksL .item-title{
  font-size: 16px;
  font-weight: bold;
}
#linksL .material-icons{
  margin-right: : 0px;
}

#act .item-inner{
    font-size: 19px;
    color: #2196f3;
}

#buttAlarm{
  margin-left: 95px;
  margin-right: 95px;
  font-size: 11px;
  height: 26px;
  line-height: 26px;

}



#picker-date{
  text-align: center;
  font-size: 17px;
}



#pasado, #pasadoRec {
  background: #F1F0E3;
}

#mat a{
  color: black;
}

.titulo_nota{
  font-weight: bold;
  font-size: 19px;
  /*border-bottom: 1px solid #F1F0E3;*/
  box-shadow: 0 1px 0 0 #F1F0E3;
}


#fot1, #fot2{
  background: black;
}


.content-block-inner{
vertical-align:middle;
}

#audio_position{
    font-weight: bold;
    font-size: 50px;
}

#contRecord{
    text-align:center;
    border-style: none;
    vertical-align:middle;
}

#hide{
  visibility: hidden; 
}